@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    body{
        background-color: #c9d6ff;
        background: linear-gradient(to right, #e2e2e2, #c9d6ff);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }
    .curved-background {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 26rem;
    }
    .curved-background__curved {
        background-color: #ffa447; 
        border-bottom-left-radius: 25% 50%;
        border-bottom-right-radius: 25% 50%;
        height: 50%;
        width: 100%;
    } 
    section.header{
        margin-top: 2rem;
    } 
    .btn-outline-orange {
        --bs-btn-color: #fda90d;
        --bs-btn-border-color: #fd9d0d;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #fd9d0d;
        --bs-btn-hover-border-color: #fda10d;
        --bs-btn-focus-shadow-rgb: 13,110,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #fdab0d;
        --bs-btn-active-border-color: #fdbe0d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disable-color: #fdb70d;
        --bs-btn-disable-bg: transparent;
        --bs-btn-disable-border-color: #fdbe0d;
        --bs-gradient: none;
    }
    .input-box-user{
        background: #ffead2;
        border: 1px solid #ffd79b;
        position: relative;
        border-radius: 0.5rem;
        padding: 0.25rem;
    }
    .input-box-user > ion-icon{ 
        position: absolute;
        color: #a8a8a8;
    } 
    .input-box-user > input{ 
        padding-left:2rem;
        width:95%;
        font-size:0.8rem;
        font-weight:bold;
        background:transparent;
    }
    
    .input-box-password{
        background: #ffead2;
        border: 1px solid #ffd79b;
        position: relative;
        border-radius: 0.5rem;
        padding: 0.25rem;
    }
    .input-box{
        background: #ffead2;
        border: 1px solid #ffd79b; 
        border-radius: 0.5rem;
        padding: 0.25rem;
    }
    .input-box-password > ion-icon{ 
        position: absolute;
        color: #a8a8a8;
    } 
    .input-box-password > input{ 
        padding-left:2rem;
        width:95%;
        font-size:0.8rem;
        font-weight:bold;        
        background:transparent;
    }

    textarea:focus, 
    textarea.form-control:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
        outline: none;
        box-shadow:none !important;
        border:none;
    }
    textarea, 
    textarea.form-control, 
    input.form-control, 
    input[type=text], 
    input[type=password], 
    input[type=email], 
    input[type=number], 
    [type=text].form-control, 
    [type=password].form-control, 
    [type=email].form-control, 
    [type=tel].form-control, 
    [contenteditable].form-control {
        outline: none;
        box-shadow:none !important;
        border:none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    input[data-autocompleted] {
        background-color: transparent !important;
    } 
    .card-body{
        padding:100px;
    } 
    .transisi{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 32%, rgba(255,255,255,0.3533788515406162) 70%, rgba(0,0,0,0) 100%);
    }
    input{
        width: 95%;
        font-size: 0.8rem;
        font-weight: bold;
        background: transparent;
    }