.box-account {
    width: 10rem; 
    border: 1px solid #ebebeb;
    border-radius: 0.5rem; 
    position:relative;
}
.box-account:hover{ 
    background: #ff98002b !important; 
}
.box-account span.description{ 
    font-size: 0.8rem;
    font-weight: bold;
}
.box-account span.description{ 
    font-size: 0.9rem;
    font-weight: bold;
}
.box-account .status {
    display: block;
    background: #00000017;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.not-found ion-icon {
    font-size: 8rem;
}
.not-found span.header {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 1rem;
}
.not-found span.detail {
    font-size: 0.8rem;
}

.box-account .status:hover {
    cursor: pointer; 
}
.box-account .close{
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    border-radius: 1rem;
    background: #fff5f5;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='53.7' height='53.7' viewBox='0 0 53.7 53.7'><path opacity='.6' fill='%23666E6E' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
}
.box-account:hover .close{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    border-radius: 1rem;
    background: #fff5f5;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='53.7' height='53.7' viewBox='0 0 53.7 53.7'><path opacity='.6' fill='%23666E6E' d='M35.6 34.4L28 26.8l7.6-7.6c.2-.2.2-.5 0-.7l-.5-.5c-.2-.2-.5-.2-.7 0l-7.6 7.6-7.5-7.6c-.2-.2-.5-.2-.7 0l-.6.6c-.2.2-.2.5 0 .7l7.6 7.6-7.6 7.5c-.2.2-.2.5 0 .7l.5.5c.2.2.5.2.7 0l7.6-7.6 7.6 7.6c.2.2.5.2.7 0l.5-.5c.2-.2.2-.5 0-.7z'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
}